//******************************************************************************
//VARIABLES

//Color
$color-primary: #0059b2;
$color-primary-light: #3399ff;
$color-primary-dark: #004a8d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark-1: #181818;
$color-grey-dark-2: #0b0b0b;

$color-white: #fff;
$color-black: #000;

// Font
$font-size-large: 1.6rem;
$font-size-medium: 1.3rem;
$font-size-small: 1rem;
$font-primary: sans-serif;
