.app-container {
  margin: 0;
  width: 100%;
}

.selections-container {
  background-color: $color-primary-dark;
  font-size: $font-size-large;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.keyboard-container {
  display: flex;
  height: 40vh;
}

.octave-container {
  display: flex;
  width: 100%;
  border-left: 2px solid $color-black;
  border-right: 2px solid $color-black;
  border-top: 2px solid $color-primary-light;
  border-bottom: 2px solid $color-primary-light;
  background-color: $color-primary;
}

.keys {
  width: 100%;
  position: relative;
}

.selected-scale-notes {
  display: flex;
  height: 10vh;
  align-items: center;

  color: $color-grey-light-1;
  background-color: $color-primary-dark;
}
